<div *ngIf="eventDetail as event">
  <h5>Disponibilidad</h5>
  <table class="table table-striped table-hover" style="text-align: center">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Fecha</th>
        <th scope="col">Disponibilidad</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let session of event.sessions; let i = index">
        <th>{{ i+1 }}</th>
        <td *ngIf="session.date">{{ session.date | date:'shortDate' }}</td>
        <td *ngIf="session.availability">{{ session.availability }}</td>
        <td>
          <div class="input-group input-group-sm" style="justify-content: flex-end;">
            <button class="btn btn-outline-secondary" (click)="reduceAvailabilityFromSession(event, session)">-</button>
            <button class="btn btn-outline-secondary" (click)="addToCart(event, session)">+</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

